* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container_1 {
  border: 1px #aba9a9 solid;
  background-color: #e6e2e2;
  border-radius: 5px;
}
.info {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.box {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  height: 100px;
}
.box p {
  color: rgb(21, 21, 21);
  font-size: 24px;
}
.box h2 {
  text-decoration: underline;
}
.seesaw-container {
  position: relative;
  border: 1px solid black;
  padding: 50px;
  background-color: rgb(138, 195, 245);
}
.seesaw-container-2 {
  position: relative;
  width: 400px;
  height: 400px;
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
}
.seesaw-plank {
  position: absolute;
  width: 400px;
  height: 20px;
  left: 50%;
  bottom: 50px;
  background-color: black;
  transform: translateX(-50%);
  transition: transform 0.8s ease;
  z-index: 2;
}
.seesaw-pivot {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #555;
  z-index: 1;
  margin-bottom: 20px;
}

.weight {
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 0.5s ease;
  z-index: 9999;
  bottom: 0px;
}
.btn {
  display: flex;
  justify-content: center;
}
.btn button {
  width: 100%;
  background-color: rgb(233, 143, 143);
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  padding: 20px;
}
.btn button:hover {
  background-color: rgb(237, 85, 85);
  transition: 0.5s ease-in-out;
}
.info-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.info-section p {
  font-size: 16px;
}
