* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container-1 {
  max-width: 800px;
}
.info {
  display: flex;
  gap: 20px;
}
.box {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.box p {
  color: gray;
  font-size: 24px;
}
