* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container-1 {
}
.info {
  display: flex;
  gap: 20px;
}
.box {
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}
.box p {
  color: gray;
  font-size: 24px;
}
.seesaw-container {
  position: relative;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(241, 174, 174);
}
.seesaw-container-2 {
  position: relative;
  width: 400px;
  height: 400px;
  cursor: pointer;
  padding: 10px;
  margin: 0 auto;
}
.seesaw-plank {
  position: absolute;
  width: 400px;
  height: 20px;
  left: 50%;
  bottom: 50px;
  background-color: black;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
  z-index: 2;
}
.seesaw-pivot {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 50px solid #555;
  z-index: 1;
  margin-bottom: 20px;
}

.weight {
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 0.5s ease;
  z-index: 9999;
  bottom: 50px;
}
